* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
}

button,
input {
    font-family: inherit;
}

button {
    cursor: pointer;
}